<h4><%= @user.name %> 編集ページ</h4>

    <%= form_with model: @user do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: "rounded-circle", size: "150x150" %>
      <% else %>
        <%= image_tag "default.png", size: "150x150" %>
      <% end %>
      <div class="form-group">
        <%= f.label :profile, 'プロフィール（255文字未満）' %>
        <%= f.text_area :profile, :maxlength => "255", :size => "80x5",  class: 'form-control'  %>
      </div>
      <div>
        <%= f.file_field :image %>
        <%= f.submit 'プロフィール編集を完了する', class: 'btn btn-primary' %>
      </div>
    <% end %>
  <%= link_to '投稿一覧', posts_path, class: 'btn btn-outline-secondary' %> 