<div class="top__items">
  <div class="card">
    <div class="card-header">
      <h2><%= @user.name %> 編集ページ</h2>
    </div>
    <div class="card-body">
      <%= form_with model: @user do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <% if @user.image? %>
          <%= image_tag @user.image.url(:thumb), class:'rounded-circle' %>
        <% else %>
          <%= image_tag "default.jpg", class: 'rounded-circle', size: "150x150" %>
        <% end %>
        <hr>
        <p>
          <%= link_to 'マイページ', user_path, class: 'btn btn-outline-primary' %>
          <%= link_to '投稿一覧', posts_path, class: 'btn btn-outline-secondary' %>
        </p>
      <div class="form-group">
        <%= f.label :profile, 'プロフィール（255文字未満）' %>
        <%= f.text_area :profile, class: 'form-control', rows: 6  %>
      </div>
      <div class="form-group">
        <%= f.label :image, '画像をアップロード', class: "image_input_btn" %>
        <%= f.file_field :image, class: 'image_form' %>
      </div>
        <%= f.submit 'プロフィール編集を完了する', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
