<% if logged_in? %>
<div class="top__items">
<h1 class="text-center">Home</h1>
<h4>新着掲示板</h4>
  <%= render 'layouts/posts_list', posts: @posts %>
  <div class="home__moreWrap">
    <%= link_to 'もっと見る', posts_path, class: "home__more" %>
  </div>
  <h4>人気ランキング</h4>
<table class="table table-hover post__table">
  <thead class="thead__like">
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>投稿者</th>
      <th>作成日時</th>
      <th>いいね</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @post_like_ranks.each.with_index(1) do |post, i| %>
      <tr>
        <td class="phone__size"><% if post.user.image? %>                                                              
              <%= image_tag post.user.image.url(:thumb1), class: "rounded-circle" %>
            <% else %>
              <%= image_tag "default.jpg",class: "rounded-circle", size: "50x50" %>
            <% end %></td>
        <td class="phone__size"><%= link_to post.title.truncate(25), post, class: 'link__title' %></td>
        <td class="phone__size"><%= link_to post.user.name.truncate(6), post.user, class: 'link__name' %></td>
        <td class="phone__size"><%= post.created_at.to_s(:ymd) %></td>
        <td class="phone__size"><%= render 'likes/like', post: post %></td>
        <td class="phone__size"><i class="far fa-comment-dots"></i><%= post.comments.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
  <div class="main">
    <h1 class="masthead-heading text-uppercase mb-0">French Bulldog Posts</h1>
    <%= image_tag 'topimage.jpg', width: '100%', height: '80%'%>
    <div class="small__items">
    <h6 class="text-center"> I don't have time to worry about who doesn't like me. <br>  I'm too busy loving the people who love me.<i class="fas fa-heart"></i></h6></div>
    <div class="p-3 p-sm-5 my-4 rounded" >
      <div class="text-center text-brack">
        <h4>可愛いけど飼うのが大変だったりする<br>フレンチブルドッグに関する様々な情報をみんなで共有しよう</h4>
      <p class="signup__btn">
        <%= link_to '今すぐ登録！', signup_path, class: 'btn btn-lg btn-primary' %>
      </p>
      </div>
    </div>
  </div>
<% end %>
  
