<div class="top__items">
  
  <h4><b><%= @post.title %></b></h4>
    <Hr>
    <p><%= image_tag(@post.image.url, class: "img-responsive") if @post.image? %></p>
    <p><b><%= link_to @post.user.name, @post.user, class: "link__name" %></b> : <%= @post.created_at.to_s(:datetime_jp) %></p>
    <p><%= simple_format(@post.content) %></p>
    <p class="likes__items">いいね<i class="fas fa-heart unlike-btn" ></i> <%= @post.likes.count %> コメント<i class="far fa-comment-dots"></i> <%= @post.comments.length %></p>
    <p class="comment_count">
    <%= link_to '投稿一覧', posts_path, class: 'btn btn-outline-secondary' %>
  <div class="comment_list">
    <Hr>
    <p><%= render @post.comments %></p>
  </div> 
</div>
<h4>コメント投稿</h4>
<%= render "comments/form" %>
